.exp 
{
    background: $bb;
    
    .right
    {
        background-image: url('../img/bg-img2.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        right: -103px;
    }
    .left 
    {
        padding: 60px 0;
        .topic
        {
            h6 
            {
            color:$do;
            font-size: 15px;
            font-weight: 700;
            padding-bottom: 15px;
            }
            
        }
        h2 
        {
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            padding-bottom: 15px;
        }
       
    }
    #tabs 
    {
        ul 
        {
            padding-left: 0;
            li 
            {
                display: inline;
                list-style: none;
                padding: 5px 10px;
               
                a 
                {
                    text-decoration: none;
                    color: #fff;
                    font-size: 15px;
                    padding: 10px 20px;
                    border-radius: 3px;
                    &:hover
                    {
                        color: #fff;
                        background: $o;
                    }
                }
            }
        }
        p 
        {
            color: #fff;
            padding-top: 20px;
        }
    }

}